body{
    margin: 0px;
    padding: 0px;

}  
.heading{
    padding: 10px;
    border: 10px solid cornflowerblue;
    height: 80px;
    text-align: center;
    background-color: lightgrey;
    margin-bottom: 1em;
    font-size: 50px;
    
    
}
.instruction{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-style: oblique;
}
.instruction2{
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    font-style: oblique;
}
button{
    box-sizing: content-box;
    border-color: cornflowerblue;
    padding: 5px 12px;
    font-weight: bolder;
}
.main-content{
    margin-left: 28em;
    margin-top: 3em;
}

.main-content .addingRegNumbers{
    margin-left: -205px;
    /* padding-right: 200px; */
}
.main-content .filteringReg{
    margin-left: -205px;
}
.main-content .showingAllReg{
    margin-left: -205px;
}

.regPlates{
    margin: 5px;
    margin-top: 1.5em;
    padding: 10px 22px;
    font-size: large;
    border-radius: 18%;
    border-color: cornflowerblue;
    background-color: lightgrey;
}

.errorMsg{
    color: red;
    margin-bottom: 2em;
}
.msgAlert{
    color: cornflowerblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-left: -5em;

}

@media(max-width: 780px){
    .heading{
        display: block;
        font-size: 35px;
        width: 80%;
    }
    .main-content .input{
        margin: 10px 0;
        width: auto;
    }
    .instruction{
        display: block;
        font-size: small;
        
    }

    .instruction2{
        display: block;
        font-size: small;
        margin: -86px 0px 16px 100px;
        
    }
    
    .main-content{
        display: block;
        margin-left: 5px;
        width: 100%;
        padding: 0%
    }
    .main-content .addingRegNumbers{
        margin-left: -8px;
        flex: left;
        padding: 6px 12px;
        width: 99%;
    }
    .main-content .filteringReg{
        margin-left: -8px;
        flex: left;
        padding: 6px 12px;
        width: 99%;
    }
    .main-content .showingAllReg{
        margin-left: -8px;
        flex: left;
        padding: 6px 12px;
        width: 99%;
    }


}
